/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* Font Imports */
 
  @font-face {
    font-family: 'PT serif';
    src: url('ptserif-regular-webfont.woff2') format('woff2'),
         url('ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* General Text Styling */

html {
    font-size: 10px;
    font-family: 'PT serif', serif;
}

body {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: .6px;
    word-spacing: 0.1rem;
}

h1, h2 {    
    font-family: 'Roboto', sans-serif;
    letter-spacing: .04em;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

h2+p {
    text-indent: 20px;
}

/* Link Styling */

a[href*='http'] {
  background: url('icons8-external-link-26.png') no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

a {
    outline: none;
}

a:link {
    color:#a66
}

a:visited {
    color: rgb(247, 81, 21);
}

a:focus {    
    background-color: rgb(241, 177, 177);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-clip: padding-box;
    background-color: rgb(253, 219, 219);
}

a:active {
    color: darksalmon;
    background-color: rgb(247, 100, 47) ;
}


/* Styling Lists */

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-alpha;
}

/* Nav Menu */

nav ul {
  padding: 0;
}

nav ul li{
  list-style-type: none;
  margin-bottom: 25px;
  padding: 0;
  border: 1px solid #a66;
  height: 70px;
}

nav a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: .8em;
  text-align: center;
  text-decoration: none;
  font-size: 2.2rem;  
}
/* Footer */

footer p {
  text-align: center;
}
